.barChartWrapper {
  background-color: #222128;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 302px;
}

.barChartText {
  padding: 15px 0px 0px 80px;
  font-size: 13px;
  font-weight: 700;
}

.barChart {
  padding: 15px;
  width: 100%;
  height: 270px;
}
