.TabsRow {
  display: flex;
  flex-direction: row;
}

.TabsColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 12px;
}

.label {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.radioInput {
  display: none;
}

.checked {
  border-bottom: 3px solid #2B76D9;
}
